$pink-000: #f77ef1;
$pink-100: #f967f1;
$pink-200: #e94ee1;
$pink-300: #dd2cd4;

$cyan-000: #4dffff; // Base or medium cyan
$cyan-100: #1ac0c6;
$cyan-200: #00a3a3;
$cyan-300: #008080; // Darkest cyan

$brown-000: #deb887; // Burlywood
$brown-100: #d2b48c; // Tan
$brown-200: #a0522d; // Sienna
$brown-300: #8b4513; // Saddle Brown
